@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,300&display=swap');

* {

    margin: 0;
    padding: 0;
}

/* body{
    overflow: hidden;
} */
.sidebar {
    background-color: rgb(192, 190, 190);
    font-family: 'Aboreto';
    height: 100vw;
    font-weight: bolder;
    transition: transform 0.3s ease-in;
    position: absolute;

}

.sidebar nav {
    padding: 6px;
    margin-top: 20px;
}

.sidebar nav li {
    list-style: none;
    font-size: 30px;
    padding: 20px 0;
}

.sidebar nav li a {
    text-decoration: none;
    color: black;
}

.main {
    width: 85vw;
}

.container {
    display: flex;
}

.infocontainer {
    height: 54vh;
    width: 75vw;
    display: flex;
    margin: 100px auto;
    font-family: 'Josefin Sans', sans-serif;

}

.devInfo {
    display: flex;

    justify-content: left;
    flex-direction: column;


}

.hello {
    font-size: 50px;
    margin-left: 0px;

}

.name {
    font-size: 60px;
    font-weight: bold;
    margin: 10px 0;


}

.about {
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;
}

.buttons {
    margin: 30px;

}

.btn {
    padding: 10px 15px;
    border-radius: 10px;
    background-color: white;
    color: darkolivegreen;
    font-weight: bold;
    font-size: 15px;
    margin: 20px 0;
    cursor: pointer;
}

.btn-sm {
    border-radius: 22px;
    font-size: 14px;
    padding: 10px 25px;
    margin: 20px 50px;
    background-color: white;
    color: rgb(1, 118, 243);
    cursor: pointer;
}

.btn-sm:hover {
    color: white;
    background-color: rgb(1, 118, 243);
}

.btn:hover {
    color: white;
    background-color: darkolivegreen;
    ;
}

.devpic img {
    height: 30vh;
}

.contacts {
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 75vw;
    display: flex;
    margin: 60px auto;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
}

.contacts h1 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.contacts form div {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.contacts form div input {
    width: 25vw;
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;
}

#emailHelp {
    font-size: 11px;
    color: midnightblue;
    margin: 0 5px;
    padding: 3px 0 0 0;
}

#form-check {
    flex-direction: row;
}

#form-check input {
    width: 24px;
    margin: 3px 0;
}

.skillitem {
    display: flex;
    align-items: center;
    padding: 5px;
    font-size: 22px;
    font-family: 'Rubik Mono One', sans-serif;
}

.skillhtml {
    width: 40px;
    height: 10px;
    background-color: royalblue;
    border-radius: 5px;
    border: 2px solid black;
}

.skillcss {
    width: 40px;
    height: 10px;
    background-color: royalblue;
    border-radius: 5px;
    border: 2px solid black;
}

.skillc {
    width: 100px;
    height: 10px;
    background-color: royalblue;
    border-radius: 5px;
    border: 2px solid black;
}

.skillcpp {
    width: 100px;
    height: 10px;
    background-color: royalblue;
    border: 2px solid black;
    border-radius: 5px;
}

.skillpython {
    width: 40px;
    height: 10px;
    background-color: royalblue;
    border: 2px solid black;
    border-radius: 5px;
}

.skillproblemsolving {
    width: 40px;
    height: 10px;
    background-color: royalblue;
    border: 2px solid black;
    border-radius: 5px;
}

.t100 {
    width: 1000px;
}

.t75 {
    width: 755px;
}

.t50 {
    width: 500px;
}

.t25 {
    width: 250px;
}

.aboutcontainer {
    display: flex;
    flex-direction: column;
    height: 20vh;
    width: 75vw;
    margin: 100px auto 30px auto;
    font-family: 'Josefin Sans', sans-serif;


}

.skillcontainer {
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 75vw;
    margin: 30px auto;
    font-family: 'Josefin Sans', sans-serif;

}

.st {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    margin-bottom: 20px;
}

.info {
    font-size: 40px;
    margin-left: 0px;
    width: 75vw;
}

.info2 {
    font-size: 30px;
    margin-left: 0px;
    width: 75vw;

}

.blk {
    font-size: 10px;
    background-color: white;
}

.projcontainer {
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 75vw;
    margin: 60px auto;
    font-family: 'Josefin Sans', sans-serif;

}

@media screen and (max-width: 920px) {
    body {
        background-color: red;
    }

    .devpic img {
        display: none;
    }

    .aboutcontainer {
        margin: 100px auto 50px auto;
    }

    .skillcontainer {
        margin: 50px auto;

    }
}

@media screen and (max-width: 420px) {
    body {
        background-color: black;
    }

    .devpic img {
        display: none;
    }

    .aboutcontainer {
        margin: 100px auto 100px auto;
    }

    .skillcontainer {
        margin: 50px auto;
    }
}


.sidebargo {
    transform: translate(-250px);
    position: absolute;
}

.hamburger {
    position: absolute;
    cursor: pointer;
    top: 5px;
    left: 5px;
}

.x {

    margin-left: 185px;

}
