@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap');


::-webkit-scrollbar {
    width:1vh;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--primary);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(11, 67, 68, 0.79);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(13, 50, 75, 0.79);
}

* {

    margin: 0;
    padding: 0;
}

:root {
    --primary: #F0F3BD;
    --scendary: #02C39A;
    --tertiary: #00A896;
    --quaternary: #028090;
    --pentinary: #011721;

}

.main {
    display: flex;
    flex-direction: column;
}

body {
    background-color: var(--pentinary);
    overflow-x: hidden;

}

.main {
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
}

.container {
    display: flex;
    width: 100%;

}

.infocontainer {

    width: 100%;
    height: 100%;
    display: flex;
    color: var(--primary);
    margin: 15vh auto;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-align: center;
    justify-content: center;


}

.devInfo {
    display: flex;
    flex-direction: column;
    font-family: 'Alegreya Sans SC', sans-serif;
    justify-content: center;
    text-align: center;

}

.hello {
    font-size: 8vh;
    padding-bottom: 10px;
}

.name {
    font-size: 10vh;
    font-weight: bold;
    margin: 10px 0;
}

.about {
    font-size: 3vh;
    font-family: 'Alegreya Sans SC', sans-serif;
    padding: 10px 0px;
}

.buttons {
    margin: 30px;
}

.btn {
    font-family: 'Alegreya Sans SC', sans-serif;
    padding: 1vh 2vh;
    border-radius: 1vh;
    color: white;
    background-color: var(--scendary);
    font-weight: bold;
    font-size: 2vh;
    margin: 2vh 0;
    cursor: pointer;
}


.btn:hover {
    color: white;
    background-color: var(--tertiary);
    transition: 200ms;
}


.devpic {
    height: 35vh;
    justify-content: center;
    text-align: center;
    margin-bottom: 10%;
}

.devpic img {
    height: 35vh;
    margin-bottom: 20%;
    border-radius: 50%;

}

.devpic img:hover {
    transition: 300ms;
    box-shadow: 0.1vh 0.1vh 1vh rgb(95, 175, 167);
    cursor: pointer;
}

.skillitem {
    display: flex;
    font-size: 2vh;
    font-family: 'Alegreya Sans SC', sans-serif;
    justify-content: center;
    text-align: center;
}


.skillc {
    margin-top: 15%;
    width: 60%;
}

.skillcpp {
    margin-top: 10%;
    width: 80%;
}

.skillpy {
    margin-top: 10%;
    width: 80%;
}

.skillhtml {
    margin-top: 12%;
    width: 80%;
}

.skillcss {
    margin-top: 12%;
    width: 80%;
}

.skillps {
    margin-top: 10%;
    width: 70%;
}


.designskl {
    background-image: linear-gradient(to bottom right, var(--quaternary), var(--scendary));
    border-radius: 50%;
    width: 10vh;
    height: 10vh;
    text-align: center;
    margin: 1vw;
    box-shadow: 10px 10px 8px rgba(255, 0, 0, 0, );
    justify-content: center;
    text-align: center;

}


.designskl:hover {
    box-shadow: 0.1vh 0.1vh 0.8vh rgb(136, 251, 240);
    transition: 200ms;
}

.skillcontainer {
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 100%;
    margin: 30px auto;
    color: var(--primary);
    font-family: 'Alegreya Sans SC', sans-serif;
    justify-content: center;
    text-align: center;
}

.designcon {
    background-image: linear-gradient(to bottom right, var(--quaternary), var(--scendary));
    border-radius: 50%;
    width: 3vw;
    height: 3vw;
    text-align: center;
    margin: 1vw;
    display: inline-block;
    font-family: 'Alegreya Sans SC', sans-serif;

}

.designcon:hover {
    transition: 200ms;
    box-shadow: 0.1vh 0.1vh 0.8vh rgb(136, 251, 240);
}

.aboutcontainer {
    display: flex;
    flex-direction: column;
    height: 10vh;
    width: 100%;
    margin: 100px auto 30px auto;
    color: var(--primary);
    font-family: 'Alegreya Sans SC', sans-serif;
    justify-content: center;
    text-align: center;
}


.info {
    font-size: 5vh;
    width: 100%;
    font-family: 'Alegreya Sans SC', sans-serif;
    justify-content: center;
    text-align: center;


}

.info2 {
    font-size: 4vh;
    margin-left: 0px;
    width: 100%;
    justify-content: center;
    text-align: center;
}



.projcontainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'Alegreya Sans SC', sans-serif;
    justify-content: center;
    text-align: center;

}

/* @media screen and (max-width: 920px) {


    .devpic img {
        height: 25vh;
        margin: 10px;

    }

    .aboutcontainer {
        margin: 10vh auto 30vh auto;
    }

    .skillcontainer {
        margin: 100px auto;
        align-items: center;
        width: 100vw
    }

    .skillitem {
        /* flex-direction: column; 
        align-items: center;
        justify-content: center;
    }

    .designskl {
        width: 10vh;
        height: 10vh;
    }

    .st {
        font-size: 80px;
    }

    .info {
        font-size: 60px;
        padding-bottom: 10px;
    }

    .info2 {
        font-size: 40px;
    }

    .hello {
        font-size: 60px;
    }

    .name {
        font-size: 70px;
    }

}

@media screen and (max-width: 420px) {
    .infocontainer {
        width: 100vw;
        height: 80vh;
        margin: 10vh auto 0 auto;
        flex-direction: column;
    }

    .devInfo {
        text-align: left;
        height: 250px;
        margin: 0 10px;
    }

    .name {
        font-size: 40px;
        margin: 5px auto;
    }

    .hello {
        font-size: 25px;
    }

    .about {
        font-size: 15px;
    }

    .devpic img {
        height: 10vh;
        margin: 10px;

    }

    .buttons {
        margin: 2px;

    }

    .btn {
        padding: 5px 10px;
        border-radius: 5px;
        font-weight: bold;
        font-size: 10px;
        margin: 5px 0;
    }

    .aboutcontainer {
        margin: 100px auto 350px auto;

    }

    .info {
        font-size: 10px;
    }

    .info2 {
        font-size: 15px;
    }

    .skillcontainer {
        margin: 100px auto;
        align-items: center;

    }

    .skillitem {
        flex-direction: column;
    }

    .designskl {
        width: 100px;
        height: 100px;
    }

    .st {
        font-size: 80px;
    }

    .info {
        font-size: 70px;
        padding-bottom: 10px;
    }

    .info2 {
        font-size: 50px;
    }

} */


.skillhkr {
    margin-top: 10%;
    width: 80%;
}

.skillgfg {
    margin-top: 10%;
    width: 80%;
}

.skillins {
    margin-top: 10%;
    width: 80%;
}

.skilllkdn {
    margin-top: 10%;
    width: 80%;
}

.skillgith {
    margin-top: 10%;
    width: 80%;
}

.concontainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2vh 0;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-align: center;
    background-color: #000000;
    margin-top: 2vh;
}

.conitem {
    display: flex;
    justify-content: center;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-align: center;
    margin-top: 2vh;

}

.conmail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Alegreya Sans SC', sans-serif;
}


.blk {
    text-align: center;
    width: 100vw;
    margin: 1vh 0;
    font-size: 2vh;
}
