@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


* {

    margin: 0;
    padding: 0;
}

:root {
    --primary : #F0F3BD;
    --scendary:#02C39A ;
    --tertiary:#00A896;
    --quaternary:#028090;
    --pentinary:#05668D;

  }

 body{
    background-color: var(--pentinary);
} 
.sidebar {

    font-family: 'Josefin Sans', sans-serif;
    height: 100%;
    font-weight: bolder;
    transition: transform 0.3s ease-in;
    position: absolute;
    background-color: var(--primary);


}

.sidebar nav {
    padding: 6px;
    margin-top: 40px;

}

.sidebar nav li {
    list-style: none;
    font-size: 30px;
    padding: 30px 15px 15px 5px;
}

.sidebar nav li a {
    text-decoration: none;
    color: black;
}

.main {
    width: 85vw;
}

.container {
    display: flex;

}

.infocontainer {
    height: 54vh;
    width: 75vw;
    display: flex;
    
    margin: 100px auto;
    font-family: 'Josefin Sans', sans-serif;

}

.devInfo {
    display: flex;
    justify-content: left;
    flex-direction: column;


}

.hello {
    font-size: 50px;
    margin-left: 0px;

}

.name {
    font-size: 60px;
    font-weight: bold;
    margin: 10px 0;


}

.about {
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;
}

.buttons {
    margin: 30px;


}

.btn {
    padding: 10px 15px;
    border-radius: 10px;
    background-color: white;
    color: darkolivegreen;
    font-weight: bold;
    font-size: 15px;
    margin: 20px 0;
    cursor: pointer;
}

.btn-sm {
    border-radius: 22px;
    font-size: 14px;
    padding: 10px 25px;
    margin: 20px 50px;
    background-color: white;
    color: rgb(1, 118, 243);
    cursor: pointer;
}

.btn-sm:hover {
    color: white;
    background-color: rgb(1, 118, 243);
}

.btn:hover {
    color: white;
    background-color: darkolivegreen;
    ;
}

.devpic img {
    height:35vh;
    margin:10%
    
}



.contacts {
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 75vw;
    display: flex;
    margin: 60px auto;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
}

.contacts h1 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.contacts form div {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.contacts form div input {
    width: 25vw;
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;
}

#emailHelp {
    font-size: 11px;
    color: midnightblue;
    margin: 0 5px;
    padding: 3px 0 0 0;
}

#form-check {
    flex-direction: row;
}

#form-check input {
    width: 24px;
    margin: 3px 0;
}

.skillitem {
    display: flex;
    /* flex-direction: column; */
    padding: 5px;
    font-size: 22px;
    
    font-family: 'Rubik Mono One', sans-serif;
}


.skillc{
    margin-top: 15%;
    width:60%;

}

.skillcpp{
    margin-top: 10%;
    width:80%;
}

.skillpy{
    margin-top: 10%;
    width:80%;
}

.skillhtml{
    margin-top: 12%;
    width:80%;
}

.skillcss{
    margin-top: 12%;
    width:80%;
}

.skillps{
    margin-top: 10%;
    width:70%;
}


.designskl{
    background-image: linear-gradient(to bottom right, var(--quaternary), var(--scendary));
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align: center;
    margin: 30px;
    display:inline-block;
}


.designskl:hover{
    width: 110px;
    height: 110px;
    filter: drop-shadow(10px 10px 8px rgb(4, 63, 70));

}
.designcon{
    background-image: linear-gradient(to bottom right, var(--quaternary), var(--scendary));
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align: center;
    margin: 30px;
    display:inline-block;


}

.designcon:hover{
    width: 110px;
    height: 110px;
    filter: drop-shadow(10px 10px 8px rgb(4, 63, 70));

}

.aboutcontainer {
    display: flex;
    flex-direction: column;
    height: 20vh;
    width: 75vw;
    margin: 100px auto 30px auto;
    font-family: 'Josefin Sans', sans-serif;


}

.skillcontainer {
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 75vw;
    margin: 30px auto;
    font-family: 'Josefin Sans', sans-serif;
    /* filter: drop-shadow(10px 10px 10px rgb(73, 90, 73)); */
}

.st {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    margin-bottom: 20px;
}

.info {
    font-size: 40px;
    margin-left: 0px;
    width: 75vw;
}

.info2 {
    font-size: 30px;
    margin-left: 0px;
    width: 75vw;

}

.blk {
    font-size: 10px;
    background-color: white;
}

.projcontainer {
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 75vw;
    margin: 60px auto;
    font-family: 'Josefin Sans', sans-serif;

}

@media screen and (max-width: 920px) {


    .devpic img {
        display: none;
    }

    .aboutcontainer {
        margin: 100px auto 350px auto;
    }

    .skillcontainer {
        margin: 100px auto;
        align-items: center;

    }
    .skillitem{
        flex-direction: column;
    }
    .designskl{
        width:200px;
        height:200px;
    }
    .st{
        font-size:80px;
    }
    .info{
        font-size: 70px;
        padding-bottom:10px ;
    }

    .info2{
        font-size: 50px;
    }
    .hello{
        font-size: 70px;
    }
    .name{
        font-size: 90px;
    }
}

@media screen and (max-width: 420px) {


    .devpic img {
        display: none;
    }

    .aboutcontainer {
        margin: 100px auto 100px auto;
    }

    .skillcontainer {
        margin: 50px auto;
    }
    .skillitem{
        flex-direction: column;
    }
}


.sidebargo {
    transform: translate(-250px);
    position: absolute;
}



.hamburger {
    position: absolute;
    cursor: pointer;
    top: 5px;
    left: 5px;
}

.x {

    margin-left: 182px;

}

.skillhkr{
    margin-top: 10%;
    width:80%;
}
.skillgfg{
    margin-top: 10%;
    width:80%;
}
.skillins{
    margin-top: 10%;
    width:80%;
}
.skilllkdn{
    margin-top: 10%;
    width:80%;
}
.skillgith{
    margin-top: 10%;
    width:80%;
}

.concontainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width:100vw;
    margin: 30px auto;
    font-family: 'Josefin Sans', sans-serif;

    /* filter: drop-shadow(10px 10px 10px rgb(73, 90, 73)); */
}

.conitem {
    display: flex;
    /* flex-direction: column; */
    padding: 5px;
    font-size: 22px;
    justify-content: center;
    font-family: 'Rubik Mono One', sans-serif;
}
